TABLE.fieldlist {
	margin:10px 5px;
}
.fieldlist TD {
	padding:3px;
}
.fieldlist TD.f {
	padding-left:10px;
}
.fieldlist TD.sys {
	font-family:courier new;
	padding:0 10px 0 0 ;
}
.fieldlist TR.f TD {
	border-top: solid 1px #ddd;
}
.fieldlist TR.extraprop TD {
	padding-top: 0;
	font-size: 95%;
}